html {
  font-size: 14px;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
